.logo {
    width: 390px;
    height: 270px;
}

.logo2{
    width: 170px;
    height: 170px;
}

.logo3{
    width: 330px;
    height: 400px;
}

header{
    background: antiquewhite;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin:  0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(255, 136, 0);
    text-decoration: underline;
}

.produtos {
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 1.5% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: #000000 2px solid;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: rgb(255, 136, 0);
}

.produtos li:active{
    border-color: chartreuse;
}

.produtos li:hover h2{
    font-size: 30px;
}

.produtos h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.produto-descricao{
    font-size: 18px;
}

footer{
    text-align: center;
    background: url('bg.jpeg');
}