.logo {
    width: 440px;
    height: 390px;
}

header{
    background: #bbbbbb;
    margin: 0 0 0 15px;
}

nav li{
    display: inline;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}