body{
    background-color: antiquewhite;
    
}

/*NAVEGAÇÃO ENTRE PAGINAS*/
.navegação {
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
 }

nav a:hover {
    color: rgb(255, 136, 0);
    text-decoration: underline;
}

/*HOME*/

#brama{

    width: 100%;
}
.principal{
    background: antiquewhite;
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
    text-align: center;
}

.titulo-centralizado {
    text-align:center; 
    background: antiquewhite;
}

p{
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong{
    color: rgb(55, 31, 4);
}

.itens{
    font-style: italic;
}

.beneficios{
    background-color: antiquewhite;
    padding: 20px;
}

h2{
    font-size: px;
    
}
ul{
    display:inline-block;
    vertical-align:top;
    width: 20%;
    margin-right:15%;
}
.ilustraçãoimg{
    width: 50%;
}

ul li{
    font-size: 25px;
}

.centro{
    text-align: center;
}