body{
    background: #ffffff;
}
#brama{
    
}
h1 {
    text-align:center; 
    background: #af3939;
}

p{
    text-align: center;
}
#missao {
    font-size: 20px
}
em strong{
    color:rgb(138, 44, 44);
}