body{
    
}
#brama{

    width: 100%;
}
.principal{
    background: #a5a4a4;
    padding: 30px;
}

.titulo-centralizado {
    text-align:center; 
    background: #a5a4a4;
}

p{
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong{
    color:rgb(138, 44, 44);
}

.itens{
    font-style: italic;
}

.beneficios{
    background-color: #a5a4a4;
    padding: 20px;
}

h2{
    
}
ul{
    display:inline-block;
    vertical-align:top;
    width: 20%;
    margin-right:15%;
}
.ilustraçãoimg{
    width: 50%;
}